POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB_AUTH=auth_db
POSTGRES_DB_USER=user_db
POSTGRES_DB_PAYMENT=payment_db
POSTGRES_PORT=5432

REDIS_ADDR=redis:6379

JWT_SECRET=mysecretkey
JWT_REFRESH_SECRET=myrefreshsecretkey